@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Archivo Narrow', sans-serif;
}

body {
    height: 100%;
    overflow-x: hidden;
}

main {
    display: inline-block;
    width: 100%;
    height: auto;
}

footer {
    display: inline-block;
    width: 100%;
    height: 300px;
    background: #666666;
}

img {
    width: 100%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.justify {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.main-content {
    position: absolute;
    width: 100%;
    right:0px;
    height: 100%;

    -webkit-transition: right .3s; /* Safari */
    transition: right .3s;
}

.main-on {
    right: -280px;

    -webkit-transition: right .3s; /* Safari */
    transition: right .3s;
}

.menu-container {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -280px;
    height: 100%;
    width: 280px;
    color: black;
    border-right: #cccccc solid 1px;

    -webkit-transition: left .3s; /* Safari */
    transition: left .3s;
}

.container-menu ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-menu ul li {
    width: 100%;
    background: #f4f4f4;
    border-bottom: #cccccc 1px solid;
}

.user-menu {
    height: 80px;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-menu-box {
    background: #111111;
    color: #f4f4f4;
    height: 52px;
    width: 240px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.user-thumbnail {
    background: #333333;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    margin-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-thumbnail img {
    width: 50%;
}

.user-login {
    width: 76%;
    display: flex;
    justify-content: center;
}

.btn-menu {
    display: flex;
    padding: 0 10px 0 10px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

.btn-menu:hover {
    background: #ffffff
}

.btn-menu-content {
    display: flex;
    align-items: center;
    width: 90%;
    height: 50px;
}

.btn-menu-icon {
    width: 30px;
    margin-right: 15px;
}

.btn-menu-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 50px;
}

.menu-on {
    left: 0px !important;
    -webkit-transition: left .3s; /* Safari */
    transition: left .3s;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffffff;
    border-bottom: #cccccc solid 1px;
}

.btn-nav {
    height: 50px;
    width: 50px;
}


.img-logo {
    height: 30px;
    width: auto;
}

.shoppingbag {
    width: 30px;
    cursor: pointer;
}

.cart-reddot {
    background: #d61d1d;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    position: absolute;
    top:8px;
    right: 55px;
    font-size: .8rem;
    cursor: pointer;
}

/* MENU ANIMATION */

.hamburger .line{
    width: 30px;
    height: 2px;
    background-color: #333333;
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover{
    cursor: pointer;
}

#hamburger.is-active .line:nth-child(2){
    opacity: 0;
}

#hamburger.is-active .line:nth-child(1){
    -webkit-transform: translateY(7px) rotate(45deg);
    -ms-transform: translateY(7px) rotate(45deg);
    -o-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3){
    -webkit-transform: translateY(-7px) rotate(-45deg);
    -ms-transform: translateY(-7px) rotate(-45deg);
    -o-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
}

  /* FIM MENU ANIMATION */

.cart-container {  
    display: flex;
    position: fixed;
    top: 0;
    right: -320px;
    height: 100%;
    width: 320px;
    color: black;
    border-left: #cccccc solid 1px;
    z-index: 99;

    -webkit-transition: right .3s; /* Safari */
    transition: right .3s;
}

.cart-open {
    right: 0px;
} 

.overlay {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: 90;
}

.cart {
    background: #f4f4f4;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 53px;
    width: 90%;
    border-bottom: #cccccc solid 1px;
}

.close-cart {
    cursor: pointer;
}

.cart-title {
    font-size: 1.2rem;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

.cart-help {
    cursor: pointer;
}

.cart-body {
    height: 90%;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.cart-product {
    width: 100%;
    display: flex;
    border-bottom: #cccccc solid 1px;
    margin-top: 5px;
    max-height: 100px;
}

.cart-product-img {
    width: 25%;
}

.cart-product-img img {
    max-height: 90px;
    width: auto;
}

.cart-product-info {
    padding:5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.cart-product-name {
    font-weight: bolder;
    text-transform: uppercase;
}

.cart-product-attributes {
    display: flex;
    font-size: .85rem;
}

.cart-product-size {
    margin-right: 10px;
}

.cart-product-quantity {
    display: flex;
}

.cart-product-quantity-btn {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #333333;
    width: 18px;
    height: 18px;
    border: #333333 solid 1px;
    border-radius: 20px;
    position: relative;
    top:0px;
    right: 0px;
    font-size: .8rem;
    cursor: pointer;
}

.plus {
    margin: 0 0 0 8px;
}

.less {
    margin: 0 8px 0 0;
}

.cart-product-quantity-btn:hover {
    background: #333333;
    color: #f4f4f4;
}

.cart-product-aside {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px 10px 5px 0;
}

.cart-product-remove {
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.cart-product-remove:hover {
    border: solid 1px red;
    cursor: pointer;
}

.cart-product-price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
}

.cart-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100%;
    border-top: #cccccc solid 1px;
    padding: 5px;
}

.total-price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
}

.btn-checkout {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111111;
    color: #f4f4f4;
    width: 100%;
    height: 45px;
    text-transform: uppercase;
    font-size: 1.1rem;
    border: none;
}

.btn-checkout:hover {
    background: #333333;
    cursor: pointer;
}

.content-container {
    padding: 50px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 5px;
}

.product-box {
    width: 25%;
    padding: 5px;
}

.product-box-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border-bottom: #ffffff 5px solid;
}

.product-box-info:hover {
    background: #f4f4f4;
    border-bottom: #f4f4f4 5px solid;
}

.product-box-image {
    width: 100%;
}

.product-box-info h4 {
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 1rem;
}

.product-box-cost {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
}

.product-box-cost span:first-child {
    display: inline-block;
    font-weight: bolder;
    margin-bottom: 5px;
}

.product-box-cost span:last-child {
    display: inline-block;
    margin-left: 5px;
    color: #777777;
}

/* PRODUCT PAGE */

.product-page {
    display: flex;
}

.product-page-image {
    display: flex;
    width: 60%;
}

.product-thumbs {
    width: 25%;
    padding: 10px;
}

.product-thumbs img {
    margin-bottom: 5px;
}

.product-carousel {
    padding: 10px 0;
}

.product-page-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.product-page-info h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 20px 5px;
}

.product-page-info h5 {
    padding: 5px;
    text-transform: uppercase;
}

.product-page-cost {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    margin-bottom: 20px;
}

.product-page-cost span:first-child {
    display: inline-block;
    font-weight: bolder;
}

.product-page-cost span:last-child {
    display: inline-block;
    margin-left: 10px;
    color: #777777;
}

.product-page-sizes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.product-page-sizes-selector {
    display: flex;
}

.btn-product-page-size {
    width: 50px;
    height: 50px;
    border: 1px solid #cccccc;
    border-radius: 40px;
    color: #333333;
    margin: 5px;
    cursor: pointer;
}

.btn-product-page-size:hover {
    background: #eeeeee;
    border: 1px solid #cccccc;

}

.btn-product-page-size:focus {
    background: #111111;
    border: 1px solid #111111;
    color: #f4f4f4;
}

.add-product-box {
    padding: 20px;
    width: 100%;
}

.product-page-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.product-page-description p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    line-height: 1.2rem;
    text-align: justify;
    color: #666666;
    margin-top: 5px;
}

.product-similar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.product-similar h2 {
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.2rem;
}

/* ## PRODUCT PAGE ## */

/* CHECKOUT */

.checkout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.checkout-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.checkout-header img {
    height: 30px;
    width: auto;
}

.checkout-body {
    display: flex;
    width: 100%;
    height: 100%;
}

.checkout-step {
    width: 33.333%;
    height: 100%;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: #cccccc 1px solid;
}

.checkout-step:last-child {
    border: none;
}

.checkout-step-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
    width: 100%;
    background: #eeeeee;
}

.checkout-step-header h2 {
    text-transform: uppercase;
}

.checkout-step-body {
    width: 100%;
    height: 78%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow: auto;
}

.shipping-user-address {
    display: flex;
    flex-direction: column;
}

.checkout-step-body h1 {
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1rem;
    margin: 20px 0;;
}

.checkout-step-body h1:first-child {
    margin: 10px 0 20px 0;
}

.checkout-step-body .box {
    border: #cccccc 1px solid;
    padding: 10px;
}

.checkout-step-body .box p {
    padding: 5px 0;
    color: #333333;
}

.checkout-step-body .box p:first-child {
    text-transform: uppercase;
    font-weight: bold;
}

.checkout-step-body .box button {
    display: inline-block;
    float: right;
    border: 1px #777777 solid;
    background: none;
    text-transform: uppercase;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: .9rem;
    padding: 5px;
}

.checkout-step-body .box button:hover {
    background: #111111;
    border: 1px solid #111111;
    color: #f4f4f4;
    cursor: pointer;
}

.checkout-step-footer {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.checkout-step-body form {
    display: flex;
    flex-direction: column;
}

.checkout-step-body form label {
    margin-bottom: 5px;
}

.payment {
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-credit-card {
    margin-top: 15px;
}

.payment-credit-card form label {
    margin-top: 5px;
}

.payment-credit-card form select {
    padding: 10px;
    background: #f4f4f4;
    border: 1px solid #666666;
}

.btn-payment-method {
    width: 45%;
    padding: 10px;
    margin: 2px;
    text-transform: uppercase;
    background: #eeeeee;
}

.btn-payment-method:hover {
    background: #111111;
    color: #f4f4f4;
    cursor: pointer;
}

.credit-card-info {
    display: flex;
    justify-content: space-between;
}

.credit-card-info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.credit-card-info div input {
    width: 50%;
}

/* ## CHECKOUT ## */

/* IDENTIFY */

.login-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px 0;
}

.login-container div {
    margin: 5px;
    font-size: 1.2rem;
}

.login-container input {
    margin: 5px;
    padding: 5px;
}

.input-login {
    width: 250px;
    height: 40px;
}

/* ## IDENTIFY ## */

/* REGISTER */

.register-container {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-container div {
    margin: 15px;
    font-size: 1.2rem;
}

.register-container div:last-child {
    margin: 0px;
}

.register-container input {
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: #666666 1px solid;
}